.detail{
  width: 100%;
  .d_cont{
    .a_btn{
      width: 100%;
      text-align: center;
      overflow: hidden;
      margin-top: 1rem;
      .mint-button{
        width: 30%;
        margin: 0 5%;
        font-size: 1.6rem;
      }
    }
    //  添加商品
    .add_form{
      width: 100%;
      .f_list{
        width: 100%;
        margin-top: 1rem;
        .mint-cell{
          font-size: 1.4rem;
          .mint-cell-title{
            //width: 10%;
            //display: inline-block;
          }
          input{
            //width: 50%;
          }
        }


      }
    }
    //  底部弹出框
    .mint-popup{
      width: 100%;
      .p_btn{
        width: 100%;
        overflow: hidden;
        background-color: #e5e5e5;
        .mint-button{
          border: none;
          background-color: rgba(0,0,0,0);
          -webkit-box-shadow: 0 0 1px #e5e5e5;
          box-shadow: 0 0 1px #e5e5e5;
        }
        .confirm{
          float: right;
        }
      }
    }
  }
}
