//库存
.stock{
  width: 100%;
  .s_head{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    span{width: 25%;display: inline-block;text-align: center;}
    .code{width: 50%;}
  }
  ul{
    width: 100%;
    border-top: 1px solid #dfdce6;
    li{
      border-bottom: 1px solid #dfdce6;
      div{
        width: 100%;
        overflow: hidden;
        p{
          width: 25%;
          text-align: center;
          display: inline-block;
          input{
            width: 90%;
          }
        }
        .code1{
          width: 48%;
          input{
            width: 80%;
          }
        }
      }
    }
  }
}
