body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  overflow-y:hidden;overflow-x:hidden;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;position: relative;
   width: 100%;height: 100%;position: absolute;
  top:0;}
ul{
  margin: 0 auto;
  padding: 0;
  li{
    margin: 0 auto;
    padding:0;
    list-style: none;
  }
}
a{text-decoration: none;}
.el-submenu [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;
}

.el-menu-item [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;
}

.toolbar {
  background: #f2f2f2;
  padding: 10px;
  //border:1px solid #dfe6ec;
  margin: 10px 0px;
  .el-form-item {
    margin-bottom: 10px;
  }
}
//框架样式
.container {
  width: 100%;
  height: 100%;
  .main {
    display: flex;
    width: 94%;
    height: 100%;
    margin-left: 6%;
    overflow: hidden;
  }
}