//  列表
.m_list{
  width: 100%;
  text-align: left;
  overflow: hidden;
  li{
    width: 100%;
    border-bottom: 1px solid #dfdce6;
    overflow: hidden;
    margin-top: 1rem;
    padding-bottom: 1rem;
    a{
      display: inline-block;
      width: 100%;
      img{
        width: 5rem;
        line-height: 5rem;
        display: inline-block;
        vertical-align: middle;
      }
      .listcont{
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        p{
          overflow: hidden;
          span{
            width: 50%;
            display: inline-block;
          }

        }
      }
    }

  }
}
